.obrazekGalerie
{
	position:absolute;
	border-radius: 5px;
}

div.fotoGalerie
{
	position: relative;
	border: solid 2px black;
	background-color: rgb(0,0,0);
	box-shadow: 8px 8px 5px #888888;
	border-radius: 5px;
	margin-top: 300px;
}

.fotoProhlizeni
{
	position: relatiove;
	margin-right : 10px;
	padding : 0;
	box-shadow: 8px 8px 5px #888888;
	border-radius: 5px;
}

div.fotka
{
	position: relative;
	margin: 0 auto;
	margin-top:40px;
	box-shadow: 10px 10px 5px #888888;
	border:3px solid #666666;
	border-radius:5px;
	width: 200px;
	height: 400px;
	background-color: rgb(0,255,255);
	overflow: hidden;
}

div#fgPasFotek
{
	position: relative;
	/*overflow: hidden;*/
	top: 50px;
	/*dopocitat a priradit za behu!!!*/
	width: 9000px;
	margin: 0;
	padding: 0;
	margin-left : 5px;
}

div#fgBackground
{
	margin: 0;
	padding: 0;
	position: absolute;
	top:0px; 
	bottom:0;
	left:0;
	right:0;
	width: 100%;
	height: 100%;
	background-color: rgb(192,192,192);
	opacity:0.6;
	filter:alpha(opacity=60);
}
