.obrazekGalerie
{
	position:absolute;
	border-radius: 5px;
}

div.fotoGalerie
{
	position: relative;
	border: solid 2px black;
	background-color: rgb(0,0,0);
	box-shadow: 8px 8px 5px #888888;
	border-radius: 5px;
	margin: 10px;
}

div.fotka
{
	box-shadow: 10px 10px 5px #888888;
	border:2px solid;
	border-radius:25px;
	width: 200px;
	height: 400px;
	border: solid 2px black;
	background-color: rgb(0,255,255);
	position: absolute;
	overflow: hidden;
	margin: auto;
}

div#fgBackground
{
	margin: 0;
	padding: 0;
	position: absolute;
	top:0; 
	bottom:0;
	left:0; 
	right:0;
	width: 100%;
	height: 100%;
	background-color: rgb(192,192,192);
	opacity:0.6;
	filter:alpha(opacity=60);
}
